TurnInProcessAutomation/Source/TurnInProcessAutomation/Service References/WebCatImport/WebCatImport3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://www.bonton.com/ecommerce" elementFormDefault="qualified" targetNamespace="http://www.bonton.com/ecommerce" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://webcatservice.test.bonton.com/webcatimportservice/WebCatImport.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Service" />
  <xs:element name="ImportProductsUsingImageIDs">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Service" minOccurs="0" name="requestMessage" nillable="true" type="q1:RequestMessage" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ImportProductsUsingImageIDsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Service" minOccurs="0" name="ImportProductsUsingImageIDsResult" nillable="true" type="q2:ResponseMessage" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>